html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: transparent;
}

body {
	background-color: #efeff6;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	font-family: 'Roboto', arial, Helvetica, sans-serif;
}
div {
	position: relative;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
dd {
	margin-left: 0;
}

.home {
	height: 100%;
}

.font-login-title {
	font-size: 24px;
	color: #000000;
}

.font-login-explain {
	font-size: 16px;
	color: #a8a8a8;
}

.font-app-title {
	font-size: 16px;
	color: #737373;
}

.font-navigation-title1 {
	font-size: 30px;
	color: #000000;
}

.font-detail-title1 {
	font-size: 20px;
	color: #4a4a4a;
}

.font-navigation-title2 {
	font-size: 14px;
	color: #4a4a4a;
}

.font-navigation-explain {
	font-size: 14px;
	color: #9b9b9b;
}

.font-content-title {
	font-size: 14px;
	color: #000000;
}

.font-content-strong {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

.font-content {
	font-size: 16px;
	color: #000000;
}

.font-content-link {
	font-size: 16px;
	color: #0076ff;
}

.container {
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.icon {
	background-size: cover;
}

.layout {
	position: relative;
	left: 0;
	width: 100%;
	height: inherit;
}

.navigation {
	position: absolute;
	width: 401px;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 1px solid #bcbcbc;
	overflow-y: auto;
}

.navigation ul.navigation-medium {
	margin-top: 20px;
}

.navigation ul.navigation-top {
	margin: 40px 0;
}

.navigation ul.navigation-small {
	margin-top: 20px;
}

.navigation ul.navigation-list li {
	display: inline-block;
	height: 40px;
	line-height: 42px;
	background-color: #fff;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	position: relative;
	cursor: pointer;
}

.navigation ul.navigation-list li:hover {
	background-color: #ebebeb;
}

.main {
	position: absolute;
	left: 400px;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

.page {
	margin: 20px 20px 0 20px;
}

.main-board {
	height: 90%;
	padding: 50px;
}

.main-board-app {
	margin-left: 400px;
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.app {
	width: 165px;
	height: 165px;
	margin-right: 50px;
}

.app img.icon {
	width: 80px;
	height: 80px;
}

.app span.app-text {
	margin-top: 5px;
	display: block;
	color: #337ab7;
}

.subpage {
	display: none;
}
