/*右侧公共模块*/
.main .card {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	width: 700px;
}
.no-side-padding {
	padding: 20px 0 !important;
}
.main .no-side-padding .title {
	display: inline-block;
	margin: 20px;
}
.main .card .list-row > * {
	display: inline-block;
}
.main .card .list-col > * {
	display: block;
	margin: 15px 0;
	display: block;
}

.fill-blue-border {
	border: 1px solid #0076ff;
	background-color: #0076ff;
	padding: 2px;
	display: inline;
	color: white;
}

.top-bottom-15 {
	margin: 15px 0;
}

.hr-full-card {
	border: 1px solid #ddd;
	margin-left: -20px;
	margin-right: -20px;
}

.mar-up-down-10 {
	margin: 10px 0;
}

.text-center {
	text-align: center;
}

.user-head-portrait {
	width: 60px;
	height: 60px;
	border-radius: 15px;
}
