.card .query-head {
	height: 80px;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.card .latest-name {
	margin-top: 30px;
}
.card .list-col-customer > * {
	display: block;
	margin: 20px 0 0 0;
}
.card .query {
	background-image: url('../../images/search.png');
	background-repeat: no-repeat;
	background-position: 18px 9px;
	margin-top: 35px;
	border-radius: 12px;
	border-style: hidden;
	outline-style: none;
	height: 35px;
	width: 100%;
	background-color: #efeff6;
	padding-left: 10px;
}
.card .query:focus {
	background-image: url();
}
.add-button {
	margin: 15px 0 0 0;
}
.blueBtn {
	background-color: red;
}
