.edit-button {
	background-color: #c3c3c3;
	border: none;
	border-radius: 4px;
}

.avartar{
	width: 150px;
}


.customer-text {
	position: absolute;
	top: 30px;
	left: 190px;
}

.category-left {
	position: absolute;
	width: 260px;
}

.category-right {
	position: absolute;
	left: 350px;
}


.customer-text > span {
	display: block;
	margin-bottom: 16px
}

.edit {
	float: right;
	margin: -18px -90px 0 0;
}

.edit img {
	width: 22px;
	height: 22px;
}

/* DisplayCustomCategory */
.customerCategory {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-wrap: wrap;
}

.customer-category {
	height: 90px;
}

.sales-member-list {
	margin-top: 10px;
}

.sales-member-list .text {
	margin: 2px 0 0 5px;
	font-weight: 580;
	color: #367ee1;
}

.customerCategory li {
	margin: 10px 25px 0 0;
	height: 30px;
}

.customerCategory div.triangle-left {
	width: 0;
	height: 20px;
	border-top: 10px solid transparent;
	border-right: 8px solid #ccc;
	border-bottom: 10px solid transparent;
	float: left;
}

.customerCategory span {
	padding: 1px 8px 0px 5px;
	background: #ccc;
	color: #3f7eea;
}

/*tecent map*/
.customerForward {
	margin-bottom: 30px;
}

.no-border-button {
	background-color: white;
	border: none;
	border-radius: 4px;
}

.tecent_left {
	display: table-cell;
	width: 500px;
}

.forward {
	display: flex;
	align-items: center;
}

.tecent_left div button img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.card-img {
	position: absolute;
	margin-top: -160px;
	margin-left: 460px;
}

.tecent_right {
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	width: 500px;
	text-align: right;
	line-height: 0;
}

.tecent_right img {
	height: 500px;
}

/* CustomerLink */
.createMore {
	margin: 0 2vw;
	font-size: 1vw;
	border: thin solid #000;
	border-radius: 50%;
	background-color: #fff;
}

i.icon-add-more {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 200px;
	background-image: url('/images/add-more.svg');
}

/*门店成员 SaleMembers*/
.main .card .member-list li {
	display: flex;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #ddd;
	color: #aaa;
}
.main .card .member-list li img {
	width: 75px;
	height: 75px;
}

.edit-inner {
	background-color: white;
	border: none;
	margin-right: -10px;
}

.main .card .member-list li .name {
	margin: 0 0 0 40px;
	width: 100px;
	overflow: hidden;
}

/*时间轴*/
.main .card .time-line {
	padding: 10px;
}
.main .card .time-line li {
	display: flex;
	flex-direction: row;
	height: 100px;
}
.main .card .time-line li dl {
	margin: 0;
}
.main .card .time-line li dl.time {
	flex: 1;
	text-align: right;
	border-right: 1px solid #333;
	padding-right: 20px;
}
.main .card .time-line li dd {
	margin-bottom: 5px;
}
.main .card .time-line li dl.description {
	position: relative;
	flex: 4;
	padding-left: 30px;
	padding-bottom: 20px;
}
.main .card .time-line li dl.description:before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	left: -7px;
	top: 3px;
	border-radius: 7px;
	background-color: #222;
}

/* DisplayCustomerWithForward */
.score {
	margin: 0 0.8vw;
	height: 0.8vw;
}

.event-header {
	font-weight: 700;
}

.event-header-left {
	margin-left: 60px;
}

.event-header-right {
	margin-left: 130px;
}

.consumer-list-header-first {
	display: inline-block;
	margin-left: 115px;
	width: 138px;
}

.consumer-list-header {
	display: inline-block;
	width: 140px;
}
