.card .edit-good {
	float: right;
	background-color: #fff;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
.card .edit-good img {
	width: 1.5vw;
	height: 1.5vw;
}
.card .good-picture {
	margin: 20px;
	width: 15%;
	height: 15%;
}

.good-text {
	position: absolute;
	top: 30px;
	left: 180px;
}

.item-list ul.ul-list li .right-navigation-box {
	float: right;
	margin-right: 45px;
}
.item-list ul.ul-list li .stack-imgs {
	margin-right: 35px;
}
.item-list ul.ul-list li .right-navigation-box img {
	width: 40px;
	height: 40px;
	margin-right: -5px;
}
.item-list ul.ul-list li .right-navigation-box img.stack {
	width: 40px;
	height: 40px;
	margin-right: -25px;
	border-radius: 30px;
}
.item-list ul.ul-list li i {
	vertical-align: top;
}

.item-list ul.ul-list li i.icon-right {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 2px;
	top: 4px;
}
.item-list ul.ul-list li img.icon-front {
	width: 40px;
	height: 40px;
	margin: 0px 15px 0px 15px;
	float: left;
}
.item-list ul.ul-list li i.icon-right-m {
	margin-top: -8px;
}
.item-list ul.ul-list li i.icon-right-l {
	margin-top: 40px;
}
.item-list ul.ul-list li i.icon-arrow {
	background-image: url('../../images/next.svg');
}
.item-list ul.ul-list li i.icon-arrow-m {
	margin-top: 12px;
	background-image: url('../../images/next.svg');
}
.item-list ul.ul-list li i.icon-plus {
	background-image: url('../../images/plus.png');
}
.item-list ul.ul-list li i.icon-search {
	width: 16px;
	height: 16px;
	margin: 16px 8px 0 0;
	background-image: url('../../images/search.png');
}
.item-list ul.ul-list li.place-item dl {
	position: relative;
	left: 100px;
}
.item-list ul.ul-list li.place-item dl dt {
	/*margin-top: -25px;
	font-weight: bold;
	width: 330px;
	line-height: 32.5px;
	word-wrap: break-word;*/
	margin-top: 10px;
}
.item-list ul.ul-list li.place-item dl dd {
	display: block;
	margin-top: 10px;
}
.item-list ul.ul-list li.place-item {
	height: 80px;
}
.item-list ul.ul-list li.place-item img {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0px;
	top: 5px;
}
.item-list .selected {
	background-color: #56a4fc !important;
	color: white;
}
