.card .table-font {
	text-indent: 20px;
}
.card .record {
	margin: 0 15px 0px 0px;
	width: 100%;
	text-align: left;
}
.card .record th {
	padding: 0 15px 15px 0;
}
.card .record tbody td {
	border-bottom: 1px solid #ddd;
	padding: 15px 60px 15px 0;
}
.card .record tbody tr:hover {
	background-color: #ebebeb;
}
