.card .edit-company {
	float: right;
	background-color: #fff;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
.card .edit-company img {
	width: 1.5vw;
	height: 1.5vw;
}
.card .list-col-company {
	padding-bottom: 20px;
}
.card .list-col-company > * {
	display: block;
	margin: 20px;
	font-weight: bold;
	font-size: 20px;
	color: blue;
}
