.group {
	margin-top: 15px;
	display: flex;
	align-items: center;
}

.group-border {
	border: 2px solid #2c8efe;
	padding: 1px 65px 1px 15px;
	margin: 0 15px 0 0;
	border-radius: 5px;
	color: #2c8efe;
	width: 200px;
	cursor: pointer;
}

.remove-icon {
	position: absolute;
	top: 0px;
	left: 160px;
}
