.statistics-left {
	display: inline;
	float:left;
	height: 250px;
}

.text-group {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 10px 0 0 15px;
}

.num-data {
	font-size: 100px;
	color: #2c8efe;
}

.text-data {
	margin: 0 10px 5px 15px;
	width: 250px;
}

.red-text {
	color: red;
	font-weight: 600;
}

.block-text {
	display: block;
}
