.title-time {
	background: white;
	padding: 20px;
}

.title-time-fix {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 700px;
	margin-left: -20px;
}

.title-time-fix .nav-tabs>li {
    float: left;
    margin-bottom: -2px;
    margin-left: 95px;
}

.title-time-fix a {
	color: rgb(85, 85, 85);
	border: none;
}


.title-time-fix .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,.title-time-fix .nav-tabs>li.active>a:hover {
    color: #555;
	cursor: default;
	border: none;
	font-weight: 900;
	border-bottom: 4px solid #848484;
}

.buttom-border {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 20px;
	width: 700px;
	margin-left: -20px;
}

.title-name {
	background: white;
	padding: 20px 20px 0 20px;
}

.time-text {
	top: 20px;
	width: inherit;
	text-align: center;
}

.time-text > span {
	margin: 50px;
	cursor: pointer;
}

.time-text > .selected {
	font-weight: 600;
	width: 40px;
	border-bottom: 4px solid black;
}

.goodStatistics-select {
	margin-left: 10px;
}

.select-text {
	margin: 0 8px;
}

.select-div {
	margin-bottom: 10px;
}

.select {
	width: 200px;
}

.query-button {
	margin-left: 20px;
	padding: 2px 15px;
	border: 1px solid #0076fe;
	background-color: #0076fe;
	color: white;
	border-radius: 5px;
}
