.card-head {
	background-color: white;
}
.card-head-tip {
	border: 1px solid #0378fe;
	color: #0378fe;
	padding: 2px;
	display: inline;
}
.card-head-show-button {
	float: right;
	margin-right: 40px;
}
.triangle-border-down {
	border-width: 8px 8px 0;
	border-style: solid;
	border-color: #333 transparent transparent; /*灰 透明 透明 */
}
.link-bar {
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.strong-text {
	font-size: 25px;
	font-weight: 600;
}
